body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('/static/img/background.jpg') no-repeat center center/cover;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    height: auto;
    text-align: center;
    margin: 20px 0;
    box-sizing: border-box;
}

.tit_forms {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.botao-forms {
    display: inline-block;
    color: #fff;
    background-color: #333;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botao-forms:hover {
    background-color: #555;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.categoria {
    text-align: center;
    flex: 1;
    min-width: 160px;
    max-width: 160px;
    cursor: pointer;
}

.categoria img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.categoria p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.footer {
    width: 100%;
    background-color: white;
    padding: 20px;
    text-align: left;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin-left: 20px;
}
