<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Seridigital</h1>
            <nav>
                <a href="/">Início</a>
                <a href="/cad_users">Cadastrar Usuário</a>
                <a href="/">Usuários Cadastrados</a>

            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Usuarios Cadastrados</h2>
        </div>
    </section>

    <section class="info">
        <div class="container">
            <p>Acesse aqui a lista de usuários cadastrados em nossa plataforma</p>
            <ul>
                {% for u in usuarios %}
                <p>{{ u.nome }}</p>
                {% endfor %}
            </ul>
          <a href="{{ url_for('bp.logout') }}" class="btn">Sair</a>
            
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Seridigital. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>